<nav class="navbar bg-light shadow-sm fixed-top">
    <div class="container mx-3">
        <a class="navbar-brand" href="/index.html">Artigianato Online</a>
        
        <!-- Menu per utenti non loggati -->
        <div id="guestMenu">
            <a class="nav-link d-flex align-items-center" href="/login.html">
                <span class="d-none d-lg-inline">Accedi</span>
                <div title="login" class="ml-4">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="6" r="4" stroke="#5f7c9d" stroke-width="1.5"></circle>
                        <path d="M19.9975 18C20 17.8358 20 17.669 20 17.5C20 15.0147 16.4183 13 12 13C7.58172 13 4 15.0147 4 17.5C4 19.9853 4 22 12 22C14.231 22 15.8398 21.8433 17 21.5634" stroke="#5f7c9d" stroke-width="1.5" stroke-linecap="round"></path>
                    </svg>
                </div>
            </a>
        </div>

        <!-- Menu per utenti loggati -->
        <div id="userMenu" class="d-none">
            

            <div class="dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                    <span id="username" class="me-2"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <!-- Menu Cliente -->
                    <li class="client-only d-none">
                        <a class="dropdown-item" href="/profile.html">
                            <i class="bi bi-person me-2"></i>Profilo
                        </a>
                    </li>
                    <li class="client-only d-none">
                        <a class="dropdown-item" href="/cart.html">
                            <i class="bi bi-cart me-1"></i>Carrello
                        </a>
                    </li>

                    <!-- Menu Artigiano -->
                    <li class="artisan-only d-none">
                        <a class="dropdown-item" href="/dashboard.html">
                            <i class="bi bi-grid me-2"></i>Dashboard Artigiano
                        </a>
                    </li>
                    
                    <!-- Menu Admin -->
                    <li class="admin-only d-none">
                        <a class="dropdown-item" href="/admin.html">
                            <i class="bi bi-gear me-2"></i>Pannello Admin
                        </a>
                    </li>
            
                    <hr>        
                    <li>
                        <a class="dropdown-item" href="#" id="logoutButton">
                            <i class="bi bi-box-arrow-right me-2"></i>Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>